@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #5283e6;
  --text-color: #333;
}

[data-scheme="dark"] {
  --bg-color: #1a202c;
  --text-color: #226bff;
  --bg-color: #1a202c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  .text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-out;
}

.animate-fade-in-up {
  animation: fade-in-up 0.8s ease-out;
}

.night-mode {
  background-color: rgba(23, 37, 84, 0.1);
}

.night-mode .wi {
  color: #93c5fd;
}

.icon {
  filter: invert(50%) sepia(80%) saturate(600%) hue-rotate(10deg) brightness(100%) contrast(90%);
}